/*css test*/
body {
  background-image: url("https://wallpaperaccess.com/full/53084.jpg");
  font-family: verdana;
  color: white
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.topnav{
  background-color: #333;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a:active {
  background-color: #04AA6D;
  color: white;
}
