body {
  font-family: verdana;
  color: white;
  background-image: url("https://i.pinimg.com/originals/ca/4d/23/ca4d2391455ade48053c0b6861842574.gif");
  text-decoration: none
}

.topbar {
  background-color: black;
  font-size: 40px;
  font-family: verdana
}

.topbar a {
  color: white;
  text-decoration: none
}

.topbar a:hover {
  background-color: cyan;
  color: black;
}

